* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "tomarik-poster", sans-serif;
    font-weight: 50;
}

html{
    font-size: 62.5%;
    /*background-color:rgba(0, 0, 0, 0.4);*/
    background-image: url("/images/background.png");
    background-size: 1700px;

}

.container{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    background-color: #FFF1E6;
    color: #FFF1E6;
    display: flex;
    justify-content: center;
    align-items: normal;
    background: transparent;

    /*background-color:rgba(0, 0, 0, 0.4);
    background-image: url("https://media.istockphoto.com/photos/empty-wishlist-for-santa-picture-id494810494?k=20&m=494810494&s=612x612&w=0&h=o7Gqo-CIF7hYsU3S71IWpmAmieVRQI79w62w6hvvJr4=");
    background-size: 1200px;*/

}
/*
.directions{
    margin: 70px auto;
    padding: 20px;
    background-color: #1C4F56;
    border-radius: 25px;
    position: relative;
    height: 200px;
    width: 400px;
}*/

.calendar{
    width:112.5rem;
    height: 93rem;
    background-color: #FFF1E6;
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.month{
    width: 100%;
    height: 30rem;
    background-color: #fff1e6;
    background-image: url(/images/logo.png);
    background-position: center;
    background-size: 900px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    text-align: center;
    color: #1C4F56;
    /*text-shadow: 0.3rem .5rem rgba(0,0,0,0.2);*/

}
.month h1{
    font-size:8rem;
    font-weight:800;
    font-family: "tomarik-brush", sans-serif;
    text-transform: uppercase;
    letter-spacing:0.5rem;
    margin-bottom: 2.5rem;
}
.month p{
    font-size: 3rem;
    font-family: "tomarik-poster", sans-serif;
    font-weight: 30;
    margin-top: 22.5rem;
    color: #1C4F56;
    /*text-shadow: 0.15rem .15rem #6BA3A8;*/
    /* text-shadow: 1px 1px 2px #1C4F56; */
    

    
}
.weekdays{
    background-color: #FFF1E6;
    width: 100%;
    height: 10rem;
    padding: 0rem .1rem;
    display:flex;
    align-items: center;
    color: #BA2027;
    
}

.weekdays div {
    font-size: 3.75rem;
    font-weight:500;
    letter-spacing:0.25rem;
    width:calc(44.2rem/3.5 * 1.25);
    display: flex;
    justify-content: center;
    align-items:center;
    /*text-shadow: 0.3rem .5rem rgba(0,0,0, 0.5);*/
}

.days {
    width: 100%;
    min-width: 1200px;
    display: flex;
    flex-wrap:wrap;
    padding: 2.5rem 0.25rem;
    color:#1C4F56;    
}

.days div {
    border-radius:30px;
    font-size:3.5rem;
    margin: 2.2rem;
    width: calc(32rem/3.5 * 1.25);
    height:10rem;
    display:flex;
    justify-content:center;
    align-items:center;
    /*text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);*/
    transition:background-color 0.2s;
}

.days button {
    /*border-radius:30px;*/
    
    font-size:3.5rem;
    margin: 2.2rem;
    width: calc(32rem/3.5 * 1.25);
    height:10rem;
    /*display:flex;*/
    justify-content:center;
    align-items:center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    transition:background-color 0.2s;
    color:#FFF2EB;
}

.twelvedays1 {
    background-color: #D6663F;
    border: none;
}
.twelvedays2 {
    background-color: #6BA3A8;
    border: none;

}
.twelvedays3 {
    background-color: #8A1B28;
    border: none;

 
}

.days button:hover:not(.null, .arrow, .leftarrow){
    background-color: #B8BB3D;
    /*border: 0.2rem solid #eee;*/
    border: 2px solid #BA2027 ;
    cursor: pointer;
    color: #CFF0DB;
}
#popup1 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;    
    width:112.5rem;
    position: absolute;
    background-image: url("/images/present.png");
    background-size: 137.5px;
    
}

#popup2 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;  
    width:112.5rem;
    position: absolute;
    background-image: url("/images/hat.png");
    background-size: 137.5px;
}

#popup3 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;    
    width:112.5rem;
    position: absolute;
    background-image: url("/images/champagne.png");
    background-size: 137.5px;
}

#popup4 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;    
    width:112.5rem;
    position: absolute;
    background-image: url("/images/tooters.png");
    background-size: 137.5px;
}
#popup5 {
   
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;   
    width:112.5rem;
    position: absolute;
    background-image: url("/images/present.png");
    background-size: 137.5px;
}

#popup6 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;   
    width:112.5rem;
    position: absolute;
    background-image: url("/images/hat.png");
    background-size: 137.5px;
}

#popup7 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;   
    width:112.5rem;
    position: absolute;
    background-image: url("/images/champagne.png");
    background-size: 135px;
}

#popup8 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;    
    width:112.5rem;
    position: absolute;
    background-image: url("/images/tooters.png");
    background-size: 137.5px;
}

#popup9 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;   
    width:112.5rem;
    position: absolute;
    background-image: url("/images/present.png");
    background-size: 137.5px;
}

#popup10 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;    
    width:112.5rem;
    position: absolute;
    background-image: url("/images/hat.png");
    background-size: 135px;
}

#popup11 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;   
    width:112.5rem;
    position: absolute;
    background-image: url("/images/champagne.png");
    background-size: 137.5px;
}

#popup12 {
    margin: 300px auto;
    border-radius: 0px;
    padding: 0px;
    height: 63rem;   
    width:112.5rem;
    position: absolute;
    background-image: url("/images/tooters.png");
    background-size: 137.5px;
}
.button {
    font-size: 1em;
    padding: 10px;
    color: #FFF2EB;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }



.overlay {
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  
  .popup {
    min-width: 1200px;
    margin: 70px auto;
    padding: 20px;
    background-color: #1C4F56;
    border-radius: 0px;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .overlay .leftarrow {
    position: fixed;
    margin: 0px 900px 85px 0px;
    transition: all 200ms;
    font-size: 100px;
    color: #8A1B28;
    border: none;
    background: none;
  }

  .overlay .arrow {
    position: fixed;
    margin: 0px 0px 85px 900px;
    transition: all 200ms;
    font-size: 100px;
    color: #8A1B28;
    border: none;
    background: none;
  }

  .overlay button:hover {
    color:#B8BB3D;
  }

  
  .overlay h2 {
    margin-top: 0;
    color: #1C4F56;
    font-size: 35px;
    font-weight:bold;
    position: fixed;
  }
 .overlay .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
.close:hover {
    color: #B8BB3D;
  }

.content {
    max-height: 30%;
    overflow: visible;
    position: absolute;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
